{% load static %}
<!doctype html>
<html lang="en">
   
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        {% if title %}
            <title> Noteshub - {{ title }} </title>
        {% else %}
            <title> Noteshub </title>
        {% endif %}
    </head>

    <body>
       <header>
        <nav>
            <div class="logo">Noteshub</div>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Notes</a>
                        <ul>
                            <li><a href="#">Physics</a></li>
                            <li><a href="#">Maths</a></li>
                            <li><a href="#">C Prog</a></li>
                            <li><a href="#">PST</a></li>
                            <li><a href="#">CT</a></li>
                            <li><a href="#">FIT</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Sslutions</a>
                        <ul>
                            <li><a href="#">Physics</a></li>
                            <li><a href="#">Maths</a></li>
                            <li><a href="#">C Prog</a></li>
                            <li><a href="#">PST</a></li>
                            <li><a href="#">CT</a></li>
                            <li><a href="#">FIT</a></li>
                        </ul>
                    </li>
                    <li><a href="About.html">About Us</a></li>
                    <li><a href="#account">Account</a>
                        <ul>
                           <li><a href="#login">Login</a></li>
                           <li><a href="#signup">Signup</a></li>
                        </ul>
                    </li>
                </ul>
        </nav>
       </header>
       <!--content area -->
        <div class="main">
                {% block content %}
                {% endblock content %}
           <h1 class="h1">WELCOME TO NOTESHUB</h1>
        </div>
       <!--footer-->
  <div class="footer">
    <div class="footer-content">
      <div class="footer-part About">
      <h2>NOTESHUB</h2>
      <p>Noteshub is the beginning of our digital revolution in eduacation field in Nepal.</P>
        </div>
      <div class="footer-part Links">
        <h2>Links</h2>
      </div>
      <div class="footer-part contact">
      <h2>Contact Us</h2><br>
        <form action="home.html" method="post">
          <input type="email" name="email" class="text-input contact-input" placeholder="Email address here....">
          <textarea name="massage" class="text-input contact-input" placeholder="your message here....."></textarea><br>
          <button type="submit" class="btn">Send</button>
      </div>
    </div>
    <div class="footer-bottom">&copy;Noteshub</div>
  </div>
    </body>

</html>

