{% load static %}
<!doctype html>
<html lang="en">
   
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        {% if title %}
            <title> Noteshub - {{ title }} </title>
        {% else %}
            <title> Noteshub </title>
        {% endif %}
    </head>

    <body>
        <nav>
            <div="header"> <div class="logo">Noteshub</div>
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">NOTES</a>
                        <ul>
                            <li><a href="#">Physics</a></li>
                            <li><a href="#">Maths</a></li>
                            <li><a href="#">C Prog</a></li>
                            <li><a href="#">PST</a></li>
                            <li><a href="#">CT</a></li>
                            <li><a href="#">FIT</a></li>
                        </ul>
                    </li>
                    <li><a href="#">SOLUTIONS</a>
                        <ul>
                            <li><a href="#">Physics</a></li>
                            <li><a href="#">Maths</a></li>
                            <li><a href="#">C Prog</a></li>
                            <li><a href="#">PST</a></li>
                            <li><a href="#">CT</a></li>
                            <li><a href="#">FIT</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="main">
                {% block content %}
                {% endblock content %}
        </div>
    </body>

</html>

