{% extends "layouts/base.html" %}
{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <p class="date">
        <i> Published on {{ post.created|date:'M j, Y' }} by {{ post.author }}</i>
    </p>
    <p> {{ post.description|linebreaks }} </p>
    <a href="{{post.file_field.url}}" download>Download</a>
    <p>
        <a href="{% url "noteshub:posts_share" post.id %}">
            Share this post
        </a>
    </p>
{% endblock content %}
