{% extends "layouts/base.html" %}
{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <p class="date">
        <i> Published on {{ post.created|date:'M j, Y' }} by {{ post.author }}</i>
    </p>
    <p> {{ post.description|linebreaks }} </p>
    <a href="{{post.file_field.url}}" download>Download</a>
    <p>
        <a href="{% url "noteshub:posts_share" post.id %}">
            Share this post
        </a>
    </p>
    {% comment %}this is like calling comments.count() and assigning it a variable{% endcomment %}
    {% with comments.count as total_comments %}
        <h3> Comment{{ total_comments|pluralize }} ({{ total_comments }})</h3>
    {% endwith %}

    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                <br>
                    {{ comment.created|date:'M j, Y' }}
                </br>
            </p>
                {{ comment.body|linebreaks }}
    {% empty %}
        <p> There are no comments yet </p>
    {% endfor %}
{% endblock content %}
